.profile__title-container {
  display: flex;
  align-items: baseline;
  column-gap: 18px;
}

@media (max-width: 426px) {
  .profile__title-container {
    column-gap: 10px;
    max-width: 220px;
    margin: 0 auto;
    padding-left: 25px;
  }
}
