.profile__subtitle {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 16px 0 0 0;
  justify-self: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 350px;
}

@media (max-width: 426px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    align-self: center;
    margin-top: 14px;
    max-width: 220px;
  }
}
