.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  margin: 0;
  flex-shrink: 10;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 426px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
