.gallery__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  list-style-type: none;
  margin: 0;
  row-gap: 17px;
  column-gap: 20px;
  padding: 0;
}

@media (max-width: 768px) {
  .gallery__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 426px) {
  .gallery__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
