.logo {
  display: block;
  background-image: url(../../images/logo_white.svg);
  max-width: 142px;
  height: 33px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

@media (max-width: 918px) {
  .logo {
    margin-left: 27px;
  }
}

@media (max-width: 426px) {
  .logo {
    max-width: 104px;
    height: 25px;
  }
}
