.popup__image {
  /* object-fit: contain; */
  /* max-width: 816px;
  max-height: 540px; */
  max-width: 75vw;
  max-height: 75vh;
  align-self: flex-start;
}

@media (max-width: 425px) {
  .popup__image {
    min-width: 240px;
  }
}

